@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
    background: #4169E1;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    min-height: calc(100vh - 40px);
    padding: 20px 0;
}

.bloco {
    display: flex;
    justify-content: center;
}

.lista_pokemons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card_pokemon {
    background:#F0E68C	;
    border-bottom: 5px solid #000000;
    border-top: 5px solid #000000;
    border-radius: 50px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    margin: 10px;
    padding: 20px 0;
    text-align: center;
    width: 500px;
}

.card_pokemon_2 {
    background: white;
    border-bottom: 5px solid #3359ec;
    border-top: 5px solid #3359ec;
    border-radius: 5px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    margin: 10px;
    padding: 20px 0;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.nome_pokemon_2{
    font-size: 16px;
    padding: 10px;
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);

    }
}

.card_pokemon:hover {
    background: #B0C4DE;
    animation: bounce 1s;
}

.card_pokemon.selecionado {
    background-color: #98aaef;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
    
}

.botao {
    background-color: #3359ec;
    border: none;
    color: white;
    cursor: pointer;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
}

.botao:hover {
    background-color: #5373ec;
}

.botao:active {
    background-color: #1737c3;
}

#pokemon_selecionado b {
    color: #3359ec;
}
.paragrafo {
    margin-top: 4%;
}

